.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.product-container {
  border-right: 1px solid lightgrey;
  margin-right: 5px;
  margin-left: 50px;
}
.search-container {
  background-color: rgb(0, 0, 0, 0.85);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
  padding: 5px;
}
